<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <link rel="stylesheet" th:href="@{~/css/style.css}" />
</head>
<body>

<!--header-->
<div th:include="parts/userparts/header.html"></div>
<!--/header-->

<section class="login-page">
    <h2>Zaloguj się</h2>
    <form th:action="@{~/login}" method="post">
        <div th:if="${param.error}">
            <div class="alert alert-danger">Invalid username or
                password.</div><br>
        </div>
        <div class="form-group">
            <input type="email" id="username" name="username" placeholder="Email" />
        </div>
        <div class="form-group">
            <input  id="password" type="password" name="password" placeholder="Hasło" />
            <a href="#" class="btn btn--small btn--without-border reset-password">Przypomnij hasło</a>
        </div>

        <div class="form-group form-group--buttons">
            <a href="#" class="btn btn--without-border">Załóż konto</a>
            <button class="btn" type="submit">Zaloguj się</button>
        </div>
    </form>
</section>

<!--footer-->
<div th:include="parts/userparts/footer.html"></div>
<!--/footer-->
</body>
</html>
