<header class="header--main-page">
    <nav class="container container--70">

        <div th:if="${LoggedUser == null}">
            <ul class="nav--actions">
                <li><a th:href="@{~/login}" class="btn btn--small btn--without-border">Zaloguj</a></li>
                <li><a th:href="@{~/registration}" class="btn btn--small btn--highlighted">Załóż konto</a></li>
            </ul>
        </div>

        <div th:unless="${LoggedUser == null}">
            <ul class="nav--actions">
                <li class="logged-user">
                    Witaj <span th:text="${LoggedUser.name}"></span>
                    <ul class="dropdown">
                        <li><a th:href="@{~/details}">Profil</a></li>
                        <li><a href="#">Moje zbiórki</a></li>
                        <li th:each="role : ${LoggedUser.role}">
                            <span th:if="${role.role == 'admin'}"><a th:href="@{~/admin}">Panel administracyjny</a></span>
                        </li>
                        <li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Wyloguj się</a></li>
                    </ul>
                </li>
            </ul>
        </div>

        <ul>

            <li><a th:href="@{~/}" class="btn btn--without-border active">Start</a></li>
            <li><a th:href="@{~/#steps}" class="btn btn--without-border">O co chodzi?</a></li>
            <li><a th:href="@{~/#about-us}" class="btn btn--without-border">O nas</a></li>
            <li><a th:href="@{~/#help}" class="btn btn--without-border">Fundacje i organizacje</a></li>
            <li><a th:href="@{~/donate}" class="btn btn--without-border">Przekaż dary</a></li>
            <li><a th:href="@{~/#contact}" class="btn btn--without-border">Kontakt</a></li>
        </ul>
    </nav>

    <div class="slogan container container--90">
        <div class="slogan--item">
            <h1>
                Zacznij pomagać!<br/>
                Oddaj niechciane rzeczy w zaufane ręce
            </h1>
        </div>
    </div>
</header>